@import '../../sass/color';

.container {
  user-select: none;
  font-size: 1rem;

  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 12px 14px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
  }
  padding-bottom: 16px;
  font-size: 16px;
  label {
    display: inline-block;
    padding-bottom: 5px;
  }
}
.labelRequired {
  font-weight: 600;
  font-size: 1rem;
  padding-bottom: 12px;
  &::after {
    content: ' *';
    color: $required;
  }
}

.fieldInvalid {
  border: 1px red solid;
  &:focus-within {
    box-shadow: 0 0 0 0.25rem rgb(234 38 53 / 25%);
  }
  outline: none;
}

.fieldValid {
  border: 1px $grey solid;
  &:focus-within {
    box-shadow: 0 0 0 0.25rem rgb(66 135 245 / 25%);
  }
}

.error {
  font-size: 14px;
  margin-top: 6px;

  &__message {
    color: $required;
    display: flex;
    align-items: center;
  }
}

.invalid {
  color: $required;
}

.dataListContainer {
  background-color: white;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

.children {
  padding-right: 10px;
}
