@import '../../sass/color';

.button {
  background-color: $main;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  outline: none;
  font-size: 1rem;
  font-weight: 700;

  &:hover {
    background-color: $main-hover;
  }
}

.disable {
  opacity: 0.5;
  cursor: not-allowed;
}

.contrast {
  background-color: white;
  border: 1px $grey solid;
  color: $main;
  &:hover {
    border-color: $main;
    background-color: rgb(227, 226, 226);
  }
}

.fullWidth {
  width: 100%;
}
