@import '../../sass/color';
@import '../../sass/border';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.listJob {
  padding: 20px;
  h2 {
    font-size: 1.125rem;
    font-weight: 900;
    margin: {
      top: 7px;
      bottom: 7px;
    }
  }
  p {
    padding: 0px;
    margin: 0px;
  }
}
.job {
  width: 470px;

  margin: {
    top: 20px;
    bottom: 20px;
  }
  padding: 20px;
  -webkit-user-select: none;
  user-select: none;

  @include border-component;
  &__salary {
    margin: {
      top: 20px;
      bottom: 20px;
    }

    width: fit-content;
    background: #f3f2f1;
    color: #595959;
    font-weight: 800;
    font-size: 0.875rem;
    padding: 0.1875rem 0.5rem;
    border-radius: 0.25rem;
  }
  &:active {
    border: 1px $main solid;
  }
  &__description {
    padding: 10px;
    list-style: circle;
  }

  &:hover {
    transition-duration: 300ms;
    z-index: 10000;
    transform: scale(1.1);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
.jobDetail {
  margin-top: 20px;
  width: 540px;
  height: 97vh;
  position: sticky;
  top: 10px;
  &__header {
    height: 30;
  }
  &__body {
    overflow-y: auto;
    height: 65vh;
    display: inline-block;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0;
    padding-top: 1rem !important;
    font-size: 0.85rem;
    p{
      font-size: 0.85rem;
    }
  }
}
h3 {
  font-weight: 600;
}
.moreBtn {
  background-color: $main;
  padding: 15px;
  width: 100%;
  @include border-component;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: none;
  &:active {
    background-color: $main-hover;
  }
}

.jobDetail {
  @include border-component;
  &__header {
    padding: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);

    &__buttonContainer {
      display: flex;
    }
  }
}

.posted {
  color: #6f6f6f;
  font-size: 0.75rem;
}

.job__active {
  border: 2px $main solid;
  background-color: rgb(218, 244, 224);
}
