@import '../../sass/color';
.container {
  display: flex;
  flex-direction: column;
}

.loginForEmploy {
  display: flex;
  padding: {
    left: 100px;
    right: 100px;
  }
  position: static;
}
.info {
  flex: 3;
  position: sticky;
  top: 10px;
  h1 {
    font-size: 34px;
    span {
      color: $main;
    }
  }
  p {
    padding-top: 15px;
  }
}

.signIn {
  flex: 2;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 2px 2px 25px rgb(0 0 0 / 35%);
}
.containerItem {
  display: flex;
}

.left {
  flex: 2;
}
.right {
  flex: 1;
  margin-left: 25px;
}

.containerRadioBtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  &__item {
    width: fit-content;
    display: flex;
  }
}

.submitForm {
  display: flex;
  align-items: center;
  span {
    margin-left: 20px;
  }
  a {
    color: green;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.login {
  margin-top: 100px;
  align-items: center;
  display: flex;
  &__btn {
    width: 200px;
    margin-left: 20px;
  }
}

.bottom {
  margin-top: 50px;
  background-color: white;
  ul {
    list-style-type: none;
  }
  &__content {
    display: flex;
    flex-direction: row;
  }
}
