.img {
  width: 300px;
}

.container {
  width: 100%;
  background-color: red;

  animation-duration: 4s;
  transition: width ease-in 1s;
  -webkit-transition: width ease-in 1s;
  -moz-transition: width ease-in 1s;
  -ms-transition: width ease-in 1s;
  -o-transition: width ease-in 1s;
}
.container1 {
  width: 100%;
  background-color: yellow;
  transition: width ease-in 1s;
  -webkit-transition: width ease-in 1s;
  -moz-transition: width ease-in 1s;
  -ms-transition: width ease-in 1s;
  -o-transition: width ease-in 1s;
  animation-duration: 4s;
}
